.curating-index {
  background-color: var(--curating-color);
  color: var(--white-sub);


}

.writing-index {
  background-color: var(--writing-color);
  color: var(--white-sub);


}

.studio-index {
  background-color: var(--studio-color);
  color: var(--black-sub);
}

.writing-section {
  text-align: center;
  width: 550px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  padding-top: 100px;
}

.writing-article p {
  text-align: left;
  font-family: "serif";
  font-weight: normal;
  line-height: 1.6;

}

h3.title {
  font-family: "serif";
  font-size: 25px;
  font-weight: normal;
}

h3.title + h5 {
  margin-top: -20px;
}

h4.category-label {
  text-transform: uppercase;
}
