.curating-index {
  background-color: var(--curating-color);
  color: var(--white-sub);


}

.writing-index {
  background-color: var(--writing-color);
  color: var(--white-sub);


}

.studio-index {
  background-color: var(--studio-color);
  color: var(--black-sub);
}

.writing-section {
  text-align: center;
  width: 450px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  padding-top: 60px;
}

.writing-all {
  text-align: center;
  width: 1000px;
  margin-left: 50%;
  transform: translate(-50%, 0%);
  padding-top: 60px;
}

.writing-all a h3 {
  font-size: 16px;

}

.writing-all h5 {
  margin-bottom: 30px;
}

.writing-article p {
  text-align: left;
  font-family: "serif";
  font-weight: normal;
  line-height: 1.6;

}

h3.title {
  font-family: "serif";
  font-size: 25px;
  font-weight: normal;
}

h3.title + h5 {
  margin-top: -20px;
}

h4.category-label {
  text-transform: uppercase;
}


h5 {
  margin-top: -15px;
  margin-bottom: 50px;
  font-size: 16px;
}

.publication {
  font-family: freight-text-pro, serif;
  font-weight: lighter;
  font-size: 18px;
  font-style: italic;
}


img.peek-img {
  width: 45vw;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
  pointer-events: none;
}

.piece:hover + img.peek-img {
  visibility: visible;
}



.secondary-nav a {
  pointer-events: all;
  padding-right: 20px;

}

.article-container {
  width: 675px;
  transform: translate(-17%, 0%);

}

.article-image {
  max-width: 675px;
}

.hero-image {
  width: 100vw;
  height: 100vh;
}

.sticky {
  position: sticky:absolute;
  top: 50vh;
}
